
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
}




.header
{
    position: fixed;
    width: 100%;
    z-index: 999;
     background-color: rgba(0, 0, 0, 0.4);
}

.container
{
    width: 80%;
    margin: auto;
}
.header .logo
{
    width: 40%;
    float: left;
   
}

.header .logo img
{
    width: 20%;
    margin-top: 15px;
}
.header .nav
{
    float:left ;
    width: 60%;
    list-style: none;
    text-align: right;
  
}
.clear
{
    clear: both;
}
.header .nav li{
    display: inline-block;
    margin-top: 10px;
}
.header .nav> li> a
{
    color: #fff;
    padding: 10px;
    font-size: 15px;
   
    /* make each annchor fill li */
    display: block;   
}

a
{
text-decoration: none;
}

.header .nav > li > a::after ,
.header .nav > li > a.active:after
{
content: "";
display: block;
height: 3px;
background-color: #6195ff;
width: 0;
transition: width 0.5s;
}

.header .nav > li > a:hover::after,
.header .nav > li > a.active::after
{
    width: 100%;
}

 .home
 {
    height: 100vh;
    background-image: url(../image/background/background1.jpg);
    position: relative;
 }
 .overlay
 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background:linear-gradient(to right  , rgba(0,0,0,0.8),rgba(0,0,0,0.2)) */
    background-color:rgba(0,0,0,0.8);
 }

 .home-content
 {
    position: absolute;
    top:50%;
    left: 50%;
    text-align: center;

    transform: translate(-50%, -50%); /* hero image technique */
 }
.home .title
{
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Montserrat', sans-serif;
}
.home .home-desc
{
    margin-top: 30px 3px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: capitalize;
    padding: 10px;
    
}
.home .btn
{
    border: 0;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 15px;
}
.home .btn-start
{
    margin-right: 10px;
    background-color: #fff;

}
.home .btn-learn
{
    margin-right: 10px;
    background-color: #6195ff;
    
}
button
{
font-family: inherit;
}

.hover-opacity
{
  transition: opacity 0.5s;
}
.hover-opacity:hover
{
    opacity: 0.5;
}
.dropdown
{
    position: relative;

}

.dropdown:hover .dropdown-menu 
{
    opacity: 1;
    visibility: visible;
}
.dropdown-menu
{
    position: absolute;
    background:#6195ff ;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity;
}
.dropdown-menu a{
    color: #fff;
}
.section-header{
    text-align: center;
}
.section-header .section-title
{
text-transform: capitalize;
font-size: 35px;
margin-bottom: 15px;
}
.section-header .line
{
    width: 60px;
    height: 3px;
    display: block;
    background-color: #6195ff;
    margin: 0 auto 70px auto;
}
.pd-y
{
    padding: 120px 0;
}
.about-content
{
    overflow: hidden;
}
.about-item
{
    float: left;
    width: 30%;
    text-align: center;
    border: 2px solid #e8e8e8;
    padding: 50px 20px;
}
.about-item.mg
{
    margin: 0 5%;
}
.about-item .icon {
    color: #6195ff;
    margin-bottom: 10px;
}
.about-item-title
{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: 0.5s ease;
   
}
.about-item-desc
{
    line-height: 1.6;
    margin-bottom: 10px;
    color: #999;
}
.about-item-lin
{
    color: #6195ff;
    text-transform: capitalize;

}
.ltr-effect
{
    position: relative;
}
.ltr-effect:after
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 0%; */
    width: 0;
    background: #333;
    z-index: -1;
    transition: width 0.5s ease;

}

.ltr-effect:hover::after
{
width: 100%;

}
.ltr-effect:hover .about-item-title
{
    color: white;
}

.portofolio
{
    background-color: #f9f9f9;
}
.portofolio-content
{
    overflow: hidden;
}
.portofolio-item
{
    float: left;
    width: 30%;
    padding: 20px ;
    margin: 20px 0;
    position: relative;

}
.portofolio-item img{
    width: 100%;
}

.portofolio-item.mg
{
    margin: 0 5%;
}
.portofolio-item .layer-content
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
.portofolio-item:hover .layer-content
{
    opacity: 1;
}
.layer-content .layer-info
{

position: absolute;
top: 50%;
left: 50%;
width: 80%;
text-align: center;
    transform: translate(-50%, -50%);
}
.layer-content .category
{
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.layer-content-title
{
    color: #fff;
    font-size: 20px;
}
.layer-content a i{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: #fff;
    line-height: 40px ;
}
.offer-content
{
    overflow: hidden;
}
.offer-item
{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: solid 1px #e8e8e8;
    padding: 20px 30px 25px 70px;
    position: relative;
}
.offer-item.mg{
    margin: 0  5%;
}
.offer-item .icon{
    position: absolute;
    top: 30px;
    left: 15px;
    color: #6195ff;

}
.offer-item-title
{
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.5s ;
}
.offer-item-desc
{
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #999;
}
.offer-item:hover .offer-item-title{
color: #fff;
}
.service
{
    background-color: #f9f9f9;
}
.service-item
{
    width: 50%;
    float: left;
}
.service-item .section-header
{
    text-align: left;
}
.service-item .section-header .line
{
    margin: 0 0 40px 0;
}
.service-item-desc
{
    color: #999;
    line-height: 1.5;
    padding-right: 40px;
    margin-bottom: 20px;
    font-size: 17px;
}
.service-list
{
    list-style: none;
    color: #999;

}
.service-list li i{
    border: solid 1px #6195ff;
    border-radius: 50%;
    padding: 7px;
    width: 30px;
    height: 30px;
    color: #6195ff;
}
.service-list li
{
    margin-bottom: 10px;
}
.service-item-img img{
    width: 100%; 

}
.service-bollets
{
    list-style: none;
    text-align: center;

}

.service-bollets li
{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    border-radius: 50%;
    margin: 10px 5px;
}

.service-bollets li.active{
background-color: #6195ff;
}
.service-bollets li:hover
{
    background-color: #6195ff;
}
.statistics
{
    position: relative;
    background-image: url(../image/background/background2.jpg);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}
.statistics-content
{
    overflow: hidden;
    padding: 100px 0;
}
.s-item
{
    float: left;
    width: 25%;
    text-align: center;
}
.s-item .icon{
    color: #6195ff;
    margin-bottom: 10px;


}
.s-item-title
{
    font-size: 3opx;
    font-weight: bold;
    color: white;

}

.s-item-text
{
    color: #fff;
}
.pricing-content
{
    overflow: hidden;
}
.pricing-item
{
    width: 30%;
    float: left;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.pricing-item.mg{
margin: 0 5%;
}
.pricinf-item-text
{
    color: #999;
    text-transform: uppercase;
    font-size: 20px;

}
.pricing-item-permonth
{
    width: 130px;
    height: 130px;
    border: 1px solid #6195ff;
    border-radius: 50%;
    margin: 20px auto;
    padding: 20px 0;
}
.pricing-item-permonth .dollar
{
    font-size: 50px;
}
.pricing-item-permonth .month
{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.pricing-list
{
    list-style: none;
}

.pricing-list li
{
color: #999;
line-height: 1.6;

}
.pricing-item-purchase
{
    background: none;
    border: 2px solid #6195ff;
    color: #6195ff;
    padding: 15px;
    display: block;
    width: 140px;

}
.tb-effect
{
    position: relative;
}
.tb-effect:after
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    width: 100%;
    background-color: #333;
    z-index: -1;
    transition: height 0.5s;
}
.tb-effect:hover:after
{
    height: 100%;
}
.pricing-item:hover .pricing-item-permonth
{
    color: #fff;
}

.pricing-item:hover .pricing-item-text
{
    color: #6195ff;
}
/* section of te */
.testimonail
{
    position: relative;
    background-image: url(../image/background/background3.jpg);
    height: 400px;
    background-attachment: fixed;
    background-size: cover;

}
.testimonail-content
{
    overflow: hidden;
    width: 80%;
    margin: auto ;
    padding: 120px 0;
}
.testimonail-item
{
width: 50%;
float: left;
color: #fff;
}
.testimonail-item .testimonail-item-toplayer
{
    padding: 10px 2px 40px 100px;
    position: relative;

}
.testimonail-item .testimonail-item-toplayer img{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;

}
.testimonail-item .testimonail-item-toplayer h3
{
    max-width: 5px 0;
    text-transform: capitalize;
}
.testimonail-item .testimonail-item-toplayer span
{
    color: #6195ff;
    text-transform: uppercase;
}
.testimonail-desc
{
    line-height: 1.5;
    font-size: 17px;
}



/* section of team */
.team-content
{
    overflow: hidden;
}

.team-item
{
    float: left;
    width: 30%;
    background-color: #e8e8e8;
    padding: 40px 10px;
    text-align: center;

}
.team-item .team-img
{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}
.team-item:hover  .team-overlay
{

    visibility: visible;
    opacity: 1 ;

}
.team-item.tb-effect
{
z-index: 1;
}
.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background: #6195ff;
    color: #fff;
    margin-left: auto;
    padding-top: 5px;
  
}
.team-overlay i{
    line-height: 40px;

}
.team-item .team-img img
{
    width: 100%;

}
.team-item .team-info-title
{
    color: #222;
    margin: 10px;
    text-transform: capitalize;
}
.team-item .team-info-text
{
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 0.2s;
}
.team-item:hover .team-info-title
{
    color: #fff;
}
.team-item:hover .team-info-text
{
    color: #6195ff;
}
.team-item.mg{
margin: 0 5%;
}

.blog
{
    background-color: #e8e8e8;
}
.blog-content
{
    overflow: hidden;
}
.blog-item
{
    float: left;
    width: 30%;
    background: #fff;
}
.blog-item.mg{
    margin: 0 5%;
    }
.blog-item-img img{
    width: 100%;
    /* padding: 10px; */
}
.blog-list
{
    list-style: none;
    margin: 10px 0;
}
.blog-list li{
    display: inline-block;
    margin: 0 5px;
}
.blog-info
{
    padding: 20px;
}

.blog-list li i
{
color: #6195ff;
}
.blog-title
{
    font-weight: bold;
    margin: 20px 0;
}
.blog-desc
{
    color: #999;
    margin-bottom: 10px;
    line-height: 1.5;
}
.blog-link
{
    color: #6195ff;
}

.contact-top{
    overflow: hidden;
  }
  .contact-item{
    float: left;
    width: 30%;
    padding: 40px 10px;
    text-align: center;
  }
  .contact-item .icon{
    color: #6195ff;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .contact-item.mg{
    margin: 0 5%;
  }
  .contact-item-tiltle{
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 15px;
  }
  .contact-item-desc{
    color: #999;
  }
  .contact-form{
    width: 70%;
    margin: auto;
  }
  .contact-form .contact-form-name{
    width: 40%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 5px;
    border: 0;
    background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    border-radius: 5px;
  }
  .contact-form .contact-form-subject{
    width: 81%;
    padding: 10px;
    background: #F4F4F4;
    border: 0;
    border-bottom: 2px solid #EEE;
    border-radius: 5px;
    margin-left: 5px;
    height: 40px;
    margin-bottom: 20px;
  }
  .contact-form-message{
    width: 81%;
    background: #F4F4F4;
    border: 0;
    border-bottom: 2px solid #EEE;
    border-radius: 5px;
    margin-left: 5px;
    height: 40px;
    margin-bottom: 20px;  
    padding: 10px;
  }
  .contact-form-btn
  {
    background-color: #6195ff;
    padding: 15px 25px;
    color: #fff;
    border: 0;
    text-transform: capitalize;
  margin-left: 200px;
  display: block;
    align-items: center;
  }

  .footer
  {
    background-color: #1c1d21;
    text-align: center;
    padding: 60px 0;

  }
  .footer-links
  {
    list-style: none;
    margin: 20px 0;

  }
.footer-links li{
    display: inline-block;

}
.footer-links li a {
display: block;
width: 50px;
height: 50px;
background: #6195ff;
color: #fff;
margin: 0 5%;
border-radius: 2px;


}
.footer-links li a i{
    line-height: 50px;
}

.footer  p a{
    color:#6195ff;
}

.footer .copyRight
{
    opacity: 0.5;
    color:#fff;
   
}






















